
<div class="container mt-4">
    <h1>Favoritos {{favoritoTotal}}. Autores: {{favoritoAutor}} - Obras: {{favoritoObra}}</h1>
    <h1>Autores Favoritos</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Autor</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let autores of autor; let i = index" (click)="obtenerAutor(autores.author)">
            <td>{{i+1}}</td>
            <td>{{ autores.author }}</td>
            <td>
            <button class="btn btn-danger" (click)="EliminarAutor(autores)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="alert alert-danger" role="alert" *ngIf="showObras">
        <div *ngFor="let titulo of titulos; let i = index">
            {{titulo.title}}
        </div>
    </div>
  </div>

  

  <div class="container mt-4">
    <h1>Obras Favoritos</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Autor</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let obra of obras; let i = index">
            <td>{{i+1}}</td>
            <td>{{ obra.title }}</td>
            <td>
            <button class="btn btn-danger" (click)="EliminarObra(obra)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>